.footer-wrapper {
    margin: 6rem 0rem;
    padding: 3rem 4rem;
    display: flex;
    margin-top: 10rem;
    background-color: white;
}

.footer-logo-container {
    max-width: 110px;
}

.footer-icons {
    margin-top: 2.5rem;
}

.footer-icons svg {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    color: #585858;
}

.footer-section-two {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
}

.footer-section-columns span {
    margin: 0.25rem 0rem;
    font-weight: 600;
    color: #4c4c4c;
    cursor: pointer;
}

.copyright {
    text-align: center;
    padding: 10px;
    background: #fe9e0d;
    color: #6a6a6a;
}

@media (max-width:800px) {
    .footer-wrapper {
        flex-direction: row;
        padding: 1.5rem;
    }

    .footer-section-two {
        flex-direction: row;
        margin-top: 2rem;
    }

    .footer-section-columns {
        margin: 1rem 0 rem;
    }
}


@media (max-width:600px) {
    .footer-wrapper {
        flex-direction: column;
    }

    .footer-section-two {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2rem;
    }

    .footer-section-columns {
        margin: 1rem 0rem;
    }
}


@media (max-width:480px) {
    .footer-section-two {
        flex-direction: column;
    }
}